<%- include("includes/header") %>
<form action="/register" method="post">
       
    <div class="container">
        
           
        <h5 class="formhead">
            Register Yourself
        </h5>
        
        <div class="mb-3">
            
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
        </div>
        <div class="mb-3">
           
            <input type="text" class="form-control" id="UserFormControlInput1" placeholder="Username" name="username">
        </div>
        <div class="mb-3">
            
            <input type="password" class="form-control" id="passwordFormControlInput1" placeholder="password" name="password">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Register</button>
        <p>Already registered? <a href="/login">Login Here</a></p>
        <a href="/main">Home</a>
    </div>
</form>
<%- include("includes/footer") %>